* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
        position: relative;
        width: 600px;
        height: 600px;
        margin: auto;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 300px 300px;
}
.controlPannel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 33;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
    color: #b52b2b;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.controlPannel button {
    width: 90px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}
.screen {
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #610606;
    color: red;
    font-size: 40px;
}
.on-off {
    font-size: 18px;
    color: yellow;
    background-color: #000;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.wrapper > div {
    width: 300px;
    height: 300px;
    border: 5px solid #000;
}
.wrapper .key.anim {
opacity: .5;
}
.green {
    background-color: green;
    border-top-left-radius: 100%;
    border-bottom: none !important;
    border-right: none !important;
}
.blue {
    background-color: blue;
    border-top-right-radius: 100%;
    
}
.red {
    background-color: red;
    border-bottom-right-radius: 100%;
    border-top: none !important;
    border-left: none !important;
    
}
.yellow {
    background-color: yellow;
    border-bottom-left-radius: 100%;
}
